/* app css stylesheet */

.header, .state-copy {
    text-align: center;
}

.header, .filters-panel, .state-copy, .quotes-table {
    padding-top: 20px;
}

.header > input {
    display: inline-block;
    width: 150px;
    margin-left: 10px;
}

.header > .btn {
    vertical-align: initial;
}

.filters-panel {
    display: flex;
    justify-content: space-around;
}

.table-header {
    cursor: pointer;
}

td {
    width: 20%;
}